# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.KSC_Project.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\UnityProject\KSC\KSC_Project\.idea\.idea.KSC_Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
